<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://telegram.org/js/telegram-web-app.js?57"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Materi 1.css">
</head>
<body>
    <div class="materi1">
        <img src="/Asset/Sampul.png" class="image">
        <div class="title">Menghindari Ghibah dan Melaksanakan Tabayun</div>
        <div class="sub1">A. Islam Melarang Ghibah</div>
        <div class="paragraph1">Gibah berarti menggunjing, membicarakan kejelekan dan kekurangan orang lain. Pada gibah, terdapat pembicaraan mengenai kejelekan atau aib orang lain. Apabila dia tahu, dia tidak menyukainya. Islam melarang umatnya untuk gibah. Gibah diibaratkan memakan daging saudaranya sendiri yang telah mati.</div>
        <div class="paragraph2">Kalian pernah mendengar ungkapan ”lidah tak bertulang”. Ungkapan ini mengisyaratkan bahwa lidah yang lunak ternyata dapat menyakiti hati. Bahkan, ia akan memberikan bekas yang mendalam. Pembicaraan yang menyakiti hati terkadang tidak disadari. Kita harus memahami pula, bahwa lidah dapat menyebabkan seseorang masuk surga ataupun neraka. Karena, setiap kata yang diucapkan akan dicatat oleh malaikat.</div>
        <div class="paragraph3">Kita dapat mengingkarinya di dunia ini. Akan tetapi, mulut akan dikunci dan anggota badan lain yang berbicara, ketika di akhirat. Gibah adalah salah satu bahaya lidah. Gibah termasuk perilaku tercela, juga banyak menyebar di masyarakat. Oleh karena itu, kita harus menjaga lisan dari perilaku gibah.</div>
        <div class="sub2">B. Cara Untuk Menghindari Ghibah</div>
        <div class="paragraph4">1. Berkumpul dengan orang-orang yang saleh. Setiap muslim didorong untuk memilih dan dengan siapa ia bergaul atau berkumpul.</div>
        <div class="paragraph5">2. Menyadari diri bahwa Allah Swt. membenci seseorang yang menggunjing saudaranya. Kebaikan dan keburukan akan kembali pada orang yang membicarakannya. Seorang muslim hendaknya memperbanyak zikir kepada Allah Swt. juga memohon ampunan atas segala dosa, baik yang disengaja maupun tidak disengaja.</div>
        <div class="paragraph6">3. Berintrospeksi diri dengan melihat aib diri sendiri dan selalu berusaha memperbaikinya. Setiap orang lebih baik melakukan introspeksi terlebih dahulu sebelum berbicara dengan orang lain. Intropeksi ini menyebabkan rasa malu untuk membicarakan keburukan orang lain.</div>
        <div class="paragraph7">4. Menjaga dengan lisan, ghibah bisa disebabkan karena lidah dan mulutnya tidak dijaga dengan baik. Agar terhindar dari gibah, lebih baik tidak membicarakan keburukan orang lain.</div>
        <div class="paragraph8">5. Pikiran buruk hendaknya diubah menjadi pikiran baik. Kita dapat menolak dengan baik ketika ada seseorang yang memancing untuk membicarakan keburukan orang lain. Kita dituntut untuk berprasangka baik dari awal.</div>
        <div class="sub3">C. Islam Menganjurkan Tabayun</div>
        <div class="paragraph9">Kemajuan teknologi informasi mendorong setiap manusia untuk menggunakannya sebagai media dalam memcari dan memperoleh berbagai infromasi. Setiap orang harus mampu memilih dan memilah serta kritis terhadap setiap informasi. Dalam hal ini, sikap tabayun menjadi hal penting untuk dijadikan pegangan.</div>
        <div class="paragraph10">Secara bahasa, tabayun berarti mencari kejelasan tentang sesuatu hingga jelas dan benar keadaannya. Adapun menurut istilah, tabayun adalah proses yang dilakukan untuk meneliti dan menyeleksi berita, dengan sikap tidak tergesa-gesa dalam memutuskan, sehingga permasalahan menjadi jelas dan benar. Tabayun sangat penting untuk memeriksa kebenaran informasi atau berita dengan teliti.</div>
        <div class="paragraph11">Agama memberikan perintah agar mansia dapat meneliti berita yang dibawa oleh orang-orang fasik. Hal ini dilakukan dalam rangka mewaspadainya. Ketelitian ini untuk mendorong agar tidak ada seorangpun membenarkan dan memberi keputusan yang didasarkan pada informasi orang fasik tersebut.</div>
        <div class="paragraph12">Informasi yang dibawa oleh orang fasik jangan langsung diterima. Akan tetapi, harus diteliti terlebih dahulu. Penelitian terhadap informasi tersebut meliputi kualitas, pembawa, dan kepentingan berita. Keputusan terhadap berita tersebut jangan langsung diambil, sebelum berita itu jelas kebenarannya. Berita yang tidak benar dengan tanpa dicari kejelasannya, dapat merusak diri dan masyarakat sekitar (berita hoax).</div>
        <div class="sub4">D. Tabayun Pada Informasi Media Sosial</div>
        <div class="paragraph13">Bagaimana kalian bertabayun dalam bermedia sosial? Media sosial yang online memudahkan saling komunikasi, partisipasi, berbagi informasi dan menciptakan isi. Kita telah mengenal beberapa flatform media sosial. Media sosial ini telah menjadi sarana umum kehidupan individu untuk berkomunikasi dengan sesama, juga pada proses pembelajaran. Tentu kalian sudah memiliki pengalaman mengenai hal ini.</div>
        <div class="paragraph14">Informasi yang menyebar di kalangan remaja dipandang cepat akibat media sosial. Seperti halnya virus, informasi dalam media sosial berkembang dan cepat menyebar luas. Adaptasi remaja di Indonesia sangat cepat terhadap perkembangan teknologi komunikasi yang ada saat ini. Mari kita lihat, banyak remaja yang menggunakan gawai di pusat keramaian. Penggunaan media sosial juga memiliki dampak negatif. Dampak negatif itu diantaranya adalah:</div>
        <div class="paragraph15">1. Kebebasan informasi</div>
        <div class="paragraph16">Keterbukaan informasi yang ada dalam media sosial tersebut dapat menimbulkan dampak negatif. Contohnya dalam internet dapat ditemukan informasi yang seharusnya belum layak di konsumsi. Siapapun bisa melihatnya, apabila tidak ada penyaringan.</div>
        <div class="paragraph17">2. Sikap sosial yang melemah</div>
        <div class="paragraph18">Perhatian, aktivitas dan waktu sebagian orang seolah disita oleh penggunaan media sosial. Ragam Kesibukan mengakses berbagai media sosial menyebabkan interaksi dalam lingkungannya mulai berkurang.</div>
        <div class="paragraph19">3. Kelalaian dalam kewajiban agama</div>
        <div class="paragraph20">Penggunaan media sosial yang berlebihan menyebabkan orang lalai dalam kewajiban agama. Kesibukan dalam media sosial mengabaikan waktu yang sangat berharga untuk beribadah.</div>
        <div class="paragraph21">Tabayun sangat berarti untuk menangani berita hoax. Pengguna yang mudah menerima berita hoax, akan merugikan dirinya dan pihak lain. Bagaimana cara agar kalian tidak tertipu berita hoax? Berikut ini adalah beberapa teknisnya.</div>
        <div class="paragraph22">1. Hati-hati dengan judul provokatif</div>
        <div class="paragraph23">Judul sensasional dalam berita hoax biasanya bersifat provokatif. Cari referensi berupa berita serupa dari situs online resmi apabila dijumpai berita dengan judul provokatif. Isinya dibandingkan, apakah sama atau berbeda. Sebagai pembaca, kita dapat memperoleh kesimpulan yang lebih berimbang.</div>
        <div class="paragraph24">2. Cermati alamat situs</div>
        <div class="paragraph25">Cermatilah alamat URL situs untuk informasi yang diperoleh dari website atau mencantumkan link.</div>
        <div class="paragraph26">3. Periksa fakta</div>
        <div class="paragraph27">Sumber berita berasal darimana dan siapa hendaknya diperhatikan. Cari informasi yang berimbang mengenai sumber berita. Pembaca tidak dapat memperoleh gambaran utuh apabila hanya ada satu sumber. Kita dapat pula mengamati perbedaan antara berita yang dibuat berdasarkan fakta dan opini.</div>
        <div class="paragraph28">4. Cek keaslian foto</div>
        <div class="paragraph29">Konten berupa teks juga foto dapat dimanipulasi. Kita dapat mengecek keasliannya.</div>
        <div class="paragraph30">5. Ikut serta grup diskusi anti-hoax</div>
        <div class="paragraph31">Sejumlah fanpage dan grup diskusi anti hoax sudah banyak menyebar di media sosial. Pada grup seperti ini, kita dapat bertanya apakah informasi tersebut hoax atau bukan. Begitu pula, kita dapat melihat hasil klarifikasi terkait berita tersebut.</div>
        <div class="sub5">E. Hikmah dari Tabayun</div>
        <div class="paragraph32">Tabayun memiliki manfaat penting dalam pencermatan informasi yang diperoleh. Sikap sombong, egois, fanatik, merasa sudah paham, dan malas mencari kebenaran akan menghambat proses tabayun. Hal ini akan berdampak pada menunjukkan kualitas sikap masyarakat yang masih rendah. Pada media sosial, sering ditemui tulisan atau pernyataan yang secara jelas bernada saling cela, ejek, berprasangka buruk, dan menggunjing. Akar permasalahannya berawal dari kurangnya sikap tabayun.</div>
        <div class="paragraph33">Tanpa tabayun, kesalahpahaman akan sering terjadi. Untuk menghindari kesalahpahaman pada informasi yang diterima, lebih baik di cari informasi yang benar terlebih dahulu, sebelum menyampaikan berita kepada orang lain.</div>
        <div class="paragraph34">Tabayun berkaitan erat dengan moral. Tabayun berlaku bagi penerima dan penyampai berita. Proses selektif dan kritis (tabayun) diharuskan sebelum berita disampaikan.</div>
        <div class="paragraph35">Beberapa manfaat tabayun antara lain:</div>
        <div class="paragraph36">1. Berhati-hati dalam menerima berita</div>
        <div class="paragraph37">2. Menghargai orang lain sehingga tidak terjadi kesalahpahaman</div>
        <div class="paragraph38">3. Berbaik sangka terhadap sesama sehingga dapat menimbulkan kerukunan dan kedamainan</div>
        <div class="paragraph39">4. Persatuan dan kesatuan dapat terjaga baik di lingkungan keluarga, sekolah dan masyarakat sekitarnya</div>
        <div class="paragraph40">5. Menciptakan kerukunan dan kedamaian di masyarakat</div>
    </div>

    <script>
        Telegram.WebApp.ready();
        Telegram.WebApp.BackButton.show();
        Telegram.WebApp.BackButton.onClick(() => {
            window.location.href = 'index.html';
        });
    </script>
</body>
</html>
