* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    background-color: #FFFFFF;
    color: #000000;
    flex-direction: column;
    align-items: center;
}

.quizcard {
    display: flex;
    width: 424px;
    height: 78px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
    margin: 10px;
    gap: 10px;
}

.quiz1 {
    background-color: #E3CEFF;
}

.quiz-img {
    width: 78px;
    height: 78px;
    border-radius: 4px;
}

.quiz2 {
    background-color: #FFCEE6;
}

.title {
    color: #000000;
    font-size: 16pt;
}
