<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Quiz.css">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="../js/jquery-3.7.1.min.js"></script>
</head>
<body>
    <a style="text-decoration: none;" href="/Asset/Component/Quiz 1.html" class="quizcard quiz1">
            <img src="/Asset/Quiz 1.png" alt="Quiz 1" class="quiz-img">
            <div class="title">Quiz 1</div>
    </a>
    <a style="text-decoration: none;" href="/Asset/Component/Quiz 2.html" class="quizcard quiz2">
            <img src="/Asset/Quiz 2.png" alt="Quiz 2" class="quiz-img">
            <div class="title">Quiz 2</div>
    </a>

    <script src="/script.js"></script>
</body>
</html>
