<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Task.css">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="../js/jquery-3.7.1.min.js"></script>
</head>
<body>
    <a style="text-decoration: none;" href="/Asset/Component/Asesmen 1.html" class="task-card task1">
            <img src="/Asset/AI 1.jpg" alt="Ai 1" class="task-img">
            <div class="title">Tugas Assesmen</div>
    </a>

    <script src="/script.js"></script>
</body>
</html>
