<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://telegram.org/js/telegram-web-app.js?57"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Tugas.css">
</head>
<body>
    <div class="tugas">
        <img src="/Asset/ChatGPT Image 30 Apr 2025, 13.49.56.png">
        <div class="diskusi">
            <h2>1. Diskusi Kelompok</h2>
            <p>a. Apa masalah utama dari kasus diatas?</p>
            <p>b. Apa hubungan antara kasus ini dengan perilaku ghibah dan tabayyun?</p>
            <p>c. Bagaimana cara menyelesaikan masalah ini secara islami?</p>
            <h3>2. Buatlah poster digital tentang "Pentingnya Tabayun dan Menjaga Lisan di Media Sosial". 1 kelompok 1 poster, lalu kirimkan di grup kelompoknya masing-masing!</h3>
        </div>
    </div>

    <script>
        Telegram.WebApp.ready();
        Telegram.WebApp.BackButton.show();
        Telegram.WebApp.BackButton.onClick(() => {
            window.location.href = '/index.html?menu-tugas';
        });
    </script>
</body>
</html>
