<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Tugas 2.css">
</head>
<body>
    <div class="tugas2">
        <img src="/Asset/youtube_5968975.png" class="yt">
        <h1>Film pendek ghibah dan tabayyun | “perubahan” | SMPN 1 LAMONGAN</h1>
        <button onclick="window.open('https://youtu.be/EUZ0mYca0gU?si=2tKj6y6wPIleC4vl')">Buka</button>
        <div class="diskusi2">
            <h2>lihatlah video diatas dengan cermat lalu diskusikan pertanyaan dibawah ini secara berkelompok!!!</h2>
            <h3>1. Diskusi Kelompok</h3>
            <p>a. Siapa saja yang melakukan ghibah? Mengapa?</p>
            <p>b. Siapa yang bersikap tabayun? Bagaimana caranya?</p>
            <p>c. Apakah story Zaki termasuk sikap yang baik? Jelaskan</p>
            <p>d. Bagaimana sikap Arif, Raffi, dan Zaki?</p>
            <p>e. Jika kamu jadi Raffi, apa yang kamu lakukan?</p>
        </div>
</body>
</html>